.openning {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #302c1a;
  font-size: 72px;
  font-family: 'Six Caps', sans-serif;
  z-index: 9999;
  overflow: hidden;
  box-sizing: border-box;
}

.openning-num {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 63px;
  height: 72px;
  text-align: right;
  opacity: 0;
  overflow: hidden;
  user-select: none;
}

.openning-num-first {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  display: inline-block;
  line-height: 72px;
}

.openning-num-second {
  position: absolute;
  top: 0;
  left: 14px;
  width: 14px;
  display: inline-block;
  line-height: 72px;
  word-break: break-all;
}

.openning-num-third {
  position: absolute;
  top: 0;
  left: 29px;
  width: 14px;
  display: inline-block;
  line-height: 72px;
  word-break: break-all;
}

.openning-num-forth {
  position: absolute;
  top: 0;
  left: 14px;
  width: 14px;
  opacity: 0;
  display: inline-block;
  line-height: 72px;
}

.openning-num-five {
  position: absolute;
  top: 0;
  left: 29px;
  width: 14px;
  opacity: 0;
  display: inline-block;
  line-height: 72px;
}

.openning-percent {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  line-height: 1;
}

.openning-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #302c1a;
  font-size: 60px;
  font-family: 'Six Caps', sans-serif;
  backface-visibility: hidden;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 2px;
  line-height: 1;
}

.openning-name-block {
  display: inline-block;
  margin-right: 8px;
}

.openning-name-block:last-child {
  margin-right: 0;
}

.openning-portfolio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scaleX(0.1);
  color: #302c1a;
  font-size: 60px;
  font-family: 'Six Caps', sans-serif;
  backface-visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 2px;
}

.openning-circle-line-01 {
  position: absolute;
  top: -86px;
  right: 20px;
  left: 0;
  width: 14px;
  height: 86px;
  margin: 0 auto;
  border-radius: 8px;
  transform-origin: bottom;
  line-height: 0.84;
  background: linear-gradient(
    to bottom,
    transparent,
    #302c1a 25%,
    #302c1a 75%,
    transparent
  );
}

.openning-circle-line-02 {
  position: absolute;
  bottom: -86px;
  right: -12px;
  left: 0;
  width: 14px;
  height: 86px;
  margin: 0 auto;
  border-radius: 8px;
  transform-origin: top;
  line-height: 0.84;
  background: linear-gradient(
    to bottom,
    transparent,
    #302c1a 25%,
    #302c1a 75%,
    transparent
  );
}

.openning-circle-line-01-block,
.openning-circle-line-02-block {
  display: inline-block;
}

.openning-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  border: solid 1px #302c1a;
}

.openning-bg-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.openning-bg-circle-color-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.openning-bg-circle-color-01 {
  position: absolute;
  top: -607px;
  left: 146px;
  width: 597px;
  height: 597px;
  background-color: #55b1ff;
  border-radius: 50%;
}

.openning-bg-circle-color-02 {
  position: absolute;
  top: -346px;
  left: 86px;
  width: 296px;
  height: 296px;
  background-color: #ffabb7;
  border-radius: 50%;
}

.openning-bg-circle-color-03 {
  position: absolute;
  bottom: -381px;
  left: 406px;
  width: 311px;
  height: 311px;
  background-color: #ffd955;
  border-radius: 50%;
}

.openning-bg-circle-color-04 {
  position: absolute;
  bottom: -452px;
  left: 276px;
  width: 402px;
  height: 402px;
  background-color: #ffabb7;
  border-radius: 50%;
}

.openning-bg-circle-color-05 {
  position: absolute;
  bottom: -300px;
  left: 122px;
  width: 296px;
  height: 296px;
  background-color: #55b1ff;
  border-radius: 50%;
}

.openning-bg-circle-color-06 {
  position: absolute;
  bottom: -660px;
  right: 440px;
  width: 331px;
  height: 331px;
  background-color: #ffabb7;
  border-radius: 50%;
}

.openning-bg-circle-color-07 {
  position: absolute;
  bottom: -647px;
  right: 186px;
  width: 597px;
  height: 597px;
  background-color: #ffd955;
  border-radius: 50%;
}

.openning-bg-circle-color-08 {
  position: absolute;
  bottom: -547px;
  right: 210px;
  width: 296px;
  height: 296px;
  background-color: #7ec1f9;
  border-radius: 50%;
}

.openning-bg-circle-color-09 {
  position: absolute;
  bottom: -270px;
  right: 6px;
  width: 241px;
  height: 241px;
  background-color: #ffabb7;
  border-radius: 50%;
}

.openning-bg-circle {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 142vmax;
  height: 142vmax;
  pointer-events: none;
}

@media (max-width: 1024px) {
  .openning-bg-circle {
    width: 150vmax;
    height: 150vmax;
  }
}

@media (max-width: 768px) {
  .openning-bg-circle {
    left: 50%;
    width: 140vmax;
    height: 140vmax;
  }
}

.openning-bg-circle-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  background-color: #f0efeb;
}
